img {
    width: 150px;
    height: 200px;
}
.container {
    margin: 20px auto;
}
select {
    margin: 30px 70px;
    padding: 5px;
    border: 2px solid rgb(115, 115, 222);
    border-radius: 5px;
    color: rgb(115, 115, 222);
}

#filter {
    margin: 30px 10px 30px 140px !important;
}

input,
button {
    margin: 0 10px 30px 70px;
    padding: 3px;
    color: rgb(64, 64, 201);
    border: 2px solid rgb(115, 115, 222);
    border-radius: 5px;
}

button {
    margin: 0;
    color: rgb(115, 115, 222);
    width: 100px;
}

button:hover {
    background-color: rgb(83, 83, 230);
    color: white;
}

input:focus {
    border: 2px solid rgb(64, 64, 201);
}

input::placeholder {
    color: rgb(115, 115, 222);
    padding-left: 5px;
}

.card:hover {
    background-color: rgb(245, 238, 255);
    transition: 1s;
}

.filterBtn {
    width: 150px;
}

.inpBtn {
    display: flex;
    background-color: black;
}
